body {
  width: 100vw;
  margin: 0;
}

.employeeCard {
  width: 300px;
  height: 500px;
  list-style: none;
  overflow: hidden;
  border: 3px solid black;
  text-align: center;
  margin: 30px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
 img {
   height: 200px;
   width: auto;
   overflow: hidden;
 }
